body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.cv-container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

/* Profile */
.cv-profile-img {
    border-radius: 50%;
    border: 5px solid #e0e0e0;
}

.cv-name {
    font-weight: 700;
    color: #ffffff;
}

.cv-title {
    font-weight: 500;
    color: #1e90ff;
}

.cv-location {
    font-size: 0.9em;
}

/* Section titles */
.cv-section-title {
    font-weight: 700;
    color: #ffffff;
    border-bottom: 2px solid #e0e0e0;
}

/* About Me */
.cv-about {
    font-size: 1em;
}

/* Experience and Education */
.cv-experience, .cv-education {
    margin-bottom: 20px;
}

.cv-job-title, .cv-degree {
    font-weight: 600;
    color: #ffffff;
}

.cv-company, .cv-school {
    font-size: 1.2em;
    color: #b0b0b0;
}

.cv-list {
    list-style-type: none;
    padding-left: 0;
}

.cv-list li {
    margin-bottom: 10px;
}

.cv-list li::before {
    content: "\2022"; /* Bullet point */
    color: #1e90ff; /* Primary color */
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.cv-subsection-title {
    font-weight: 600;
    color: #ffffff;
    border-bottom: 2px solid #e0e0e0;
}

.cv-qualifications {
    list-style-type: none;
    padding-left: 0;
}

.cv-qualifications li {
    margin-bottom: 10px;
    font-size: 1em;
    color: #e0e0e0;
}

/* Skills */
/* Skills Section */
.cv-skill {
    background-color: #1e1e1e; /* Dark background for skill blocks */
    border-radius: 8px;
    padding: 15px;
    color: #e0e0e0; /* Light text */
}

.cv-skill-title {
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
}

.cv-skill-description {
    font-size: 1em;
    line-height: 1.6;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .cv-skill {
        padding: 10px;
    }
}










